body {
    width: 75%;
    margin: 0;
    padding-left: 12.5%;
    background-image: url("../Images/background.png");
    background-color: #cccccc;
}

#panelHeader {
    position: relative;
    width: 100%;
    padding-top: 10px;
}

#divNavigation {
    position: relative;
    width: 100%;
    height: 70px;
    align-content: space-between;
    background-color: #f2f2f2;
}

    #divNavigation a {
        position: relative;
        font-size: 22.5px;
        display: inline-block;
        padding: 23px 15px;
        margin: 0px 15px;
        text-decoration: none;
        color: #727272;
    }

        #divNavigation a:hover {
            background-color: #d1d1d1;
            color: #727272;
        }

#divTitle {
    width: 100%;
    height: 65px;
    background-color: black;
    color: white;
    position: relative;
    padding: 0;
    margin: 0;
}

#title {
    position: absolute;
    margin-left: 40px;
    margin-top: 16px;
    font-size: 25px;
}

#worldIcon {
    position: relative;
    top: 2px;
    left: 0px;
    height: 24px;
    width: 30px;
}

#panelBody {
    position: relative;
    width: 100%;
    height: 1300px;
}

#divHomeImage {
    position: relative;
    height: 800px;
    width: 100%;
    top: 1px;
    left: 0px;
}

#imgHomeImage {
    height: 100%;
    width: 100%;
}

#labelHomeImage {
    position: absolute;
    width: 100%;
    top: 35%;
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color: white;
}

#labelHomeImage2 {
    position: absolute;
    width: 100%;
    top: 45%;
    text-align: center;
    font-size: 40px;
    color: white;
}

.slideShowBtns{
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: 0;
    background-color: white;
    border: none;
    height: 4px;
    padding: 0px 35px;
    margin-bottom: 120px;
    margin-right: 62px;
}

#slide1 {

}

#slide2 {
    margin-right:140px;
}

#slide3 {
    margin-right: 220px;
}

#divInformation {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 400px;
    margin-top: 717px;
    /*background-color:aqua;*/
}

.infoCard {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 580px;
    /* padding: 23px 15px; */
    margin-left: 52.5px;
    background-color: white;
}

    .infoCard div {
        width: 100%;
        height: 10px;
        background-color: orange;
    }

.infoCardHeader {
    position: relative;
    display: inline-block;
    color: darkorange;
    text-align: center;
    font-size: 30px;
    margin: 5% 12%;
    font-weight: bold;
}

.infoCardImage {
    width: 100%;
    position: relative;
    display: inline-block;
    height: 250px;
}

.infoCardTitle {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin: 25px 35px;
}

.infoCardDesc {
    display: inline-block;
    font-size: 19px;
    color: grey;
    margin-left: 35px;
    width: 80%;
}

.infoCardBtn {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 80px;
    height: 35px;
    background-color: darkorange;
    color: white;
    text-align: center;
    padding-top: 7px;
    font-size: 20px;
}

    .infoCardBtn:hover {
        background-color: orangered;
    }

#backgroundInfo {
    position: absolute;
    z-index: 0;
    margin-top: 800px;
    width: 100%;
    height: 497px;
    background-color: cornsilk;
}

#searchIcon {
    float: right;
    width: 45px;
    height: 45px;
    background-color: #161616;
    border-radius: 50%;
    margin-right: 25px;
    margin-top: 10px;
    border: 1px solid #727272;
    font-size: 22px;
    color: #d1d1d1;
}

    #searchIcon:before {
        position: relative;
        top: 22%;
        left: 25%;
    }

.arrow {
    margin-left: 7px;
    margin-bottom: 4px;
    border: solid #727272;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}