body {
    width: 100%;
}

#divHeader {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: white;
}

#divNavigation {
    width: 100%;
    height: 40px;
}

#divTitle {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
}

#panelBody {
    width: 100%;
    height: 500px;
}

#divHomeImage {
    height: 350px;
    width: 100%;
}

#imgHomeImage {
    height: 100%;
    width: 100%;
}

#labelHomeImage {
    position: absolute;
    width: 100%;
    top: 38%;
    text-align: center;
    font-size: 50px;
}
