body {
    width:100%;
}

#divHeader {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: white;
}

#divNavigation {
    width: 100%;
    height: 40px;
}

#divTitle{
    width: 100%;
    height: 40px;
}

#panelBody {
    width: 100%;
    height: 430px;
}

#divHomeImage{
    height: 300px;
    width:100%;
}

#imgHomeImage {
    height: 100%;
    width: 100%;
}

#labelHomeImage{
    position: absolute;
    width:100%;
    top:50%;
}